{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "security"
    ],
    "extends": [
        "plugin:security/recommended"
    ],
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": false,
        "codeFrame": true
    },
    "rules": {
        "strict": 1
    }
}