// .loader {
// 	position: relative;
// 	&.load {
// 		&:before {
// 			content: '';
// 			display: block;
// 			position: absolute;
// 			width: 30%;
// 			left: 0;
// 			top: 0;
// 			height: 3px;
// 			background-color: $colorPrimary;
// 			animation: ticker 1s linear infinite;
// 		}
// 	}
// }

.loader-wrapper {
	@extend .absolute, .fill;
	
	&:before {
		content: '';
		display: block;
		@extend .absolute, .fill;
		z-index: 9002;
		background-color: rgba(255,255,255,0.6);
	}

	.loader {
		z-index: 9003;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%)
	}
}

//https://loading.io/css/
//<div class="lds-ring"><div></div><div></div><div></div><div></div></div>


$loaderSize: 51px;
$loaderBorder: 6px;

.lds-ring-loader {
	div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: $loaderSize;
		height: $loaderSize;
		margin: $loaderBorder;
		border: $loaderBorder solid #fff;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: $colorPrimary transparent transparent transparent;
	}
	div:nth-child(1) {
		animation-delay: -0.45s;
	}
	div:nth-child(2) {
		animation-delay: -0.3s;
	}
	div:nth-child(3) {
		animation-delay: -0.15s;
	}
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}