
.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    animation: customFadeIn 0.3s 1;
    @extend .flex-middle;
    .modal-content {
        position: relative;
        background-color: #fff;
        border-radius: $boxRadius;
        overflow: hidden;
        filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 8px);
        animation: customFadeInUp 0.3s 1;
    }
    .header {
        color: #fff;
        padding: $gap/2 $gap;
        font-size: $fs4;
        font-weight: 600;
        .icon {
            display: inline-block;
            margin-right: $gap;
            transform: scale(1.5)
        }
    }
    &.dialog, &.warning {
        .header {
            background-color: $colorWarning;
        }
    }
    &.success {
        .header {
            background-color: $colorSuccess;
        }
    }
    &.error {
        .header {
            background-color: $colorDanger;
        }
    }
    &.info {
        .header {
            background-color: $colorPrimary;
        }
    }
}